html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.no-border {
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
}

.colour-square {
  display: inline-block; 
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 13px; 
  height: 13px; 
}

#patients #numPatients {
  clear: both;
}