@page
@using Nursing_Planner.Models
@model Nursing_Planner.Pages.PatientModel
@{
    ViewData["Title"] = "Timetable";
}

<h1>Time table</h1>
<table class="table mt-1">
    <thead>
        <tr>
            <th scope="col">Time</th>
            @foreach (var patient in Model.patients)
            {
                <th scope="col">@(patient.RoomNumber)</th>
            }
        </tr>
    </thead>
    @* For each time slot, set the patient *@
    @foreach (var time in Model.timesList)
    {
        <tr>
            <td>@time.ToString("HH:mm")</td>
            @foreach (var patient in Model.patients)
            {
                <td>
                @if (patient.Task.ContainsKey(time))
                {
                    string colour = "none";
                    @foreach (var task in patient.Task[time])
                    {
                        foreach (var x in Model.tasks) 
                        {
                            if(x.Key == task)
                            {
                                colour = x.Value;
                            }
                        }
                        <a><div class="colour-square" style='background-color: @(colour)'></div>@(task)</a>
                    }
                }
                </td>
            }
        </tr>
    }
    
</table>
